
*{
    margin:0;
    padding:0;
   
}

.bodyDining{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing:border-box;
    background-color: ghostwhite;

}

.CategoryDetailDining{
        display: block;
        box-sizing: border-box;
        font-size: 4rem;
        font-style: normal;
        font-weight: 30rem;
        line-height: 5rem;
        letter-spacing: -0.035em;
        font-style: normal;
        color: black;
        background-color: ghostwhite;
        text-align: left;
        margin-top: 1.5rem;
        padding: 5rem 5rem;
    }

.DiningProductContainer{
    position: relative;
    width: 150rem;
    display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(34rem, 1fr));
    grid-gap: 3.5rem;
    padding:3.5rem;
}
.DiningProductContainer .card{
width: 100%;
background-color: ghostwhite;
border-radius: 1rem;
box-shadow: rgba(0,0,0,0.16) 0px .1rem .4rem;

}

.DiningProductContainer .card .imgBx{
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.DiningProductContainer .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin:center ;
}

.DiningProductContainer .card:hover .imgBx img{
transform: scale(1.2);
}

.DiningProductContainer .card .content{
    padding: 1rem;
}

.DiningProductContainer .card .content .productName h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
    margin: 5px 0;
}

.DiningProductContainer .card .content .priceRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DiningProductContainer .card .content .priceRating h2{
font-size: 2rem;
color: red;
font-weight: 500;
}

/* .DiningProductContainer .card .content .priceRating .fa{
    color: goldenrod;
    cursor: pointer;
}

.DiningProductContainer .card .content .priceRating .fa .grey{
    color: gray;
    
} */






