.Login{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login__Wrapper{
    position: absolute;
    min-width: 35vw;
    max-height: 70vh;
    padding: 2rem;
    background-color: var(--light);
    border-radius: 2rem;
}

.Login__Form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.Login__Title{
    font-size: 2.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login__loginInput{
    flex: 1;
    min-width: 60%;
    margin: 1.5rem 1rem;
    padding: 1rem;
}

.Login__link{
    font-size: 1.2rem;
    margin: 2rem 0;
}
.Login__button{
    padding: 1rem 2rem;
    margin: 1.5rem auto;
    background-color: var(--primary);
    border: none;
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.6rem;
    cursor: pointer;
}
.Login__button:hover{
    background-color: rgb(13, 85, 179);
}