.Living{
    display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;
gap: 40px;
padding-top:5px;
background-color: rgb(247,249,250);
margin-top: 20px;
}

.column{
    border-radius: 1rem;
    width: 100%;
    height: 60vh;
    height: min-content;
    /* box-shadow: rgba(0,0,0,0.16) 0px 1px 4px; */
    margin-bottom: 30px;
}


.Card{
    display: grid;
    place-items: center;
}


.Card img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.InfoContainer{
width: 100%;
display: flex;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
margin-top: 5px;
}
.ProductName{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: initial;
    text-transform: capitalize;
    color: black;
    padding: 0 0 10px;
    margin-bottom: 4px;
}
.Price{
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.star{
    display: flex;
    align-items: center;

}
.fa{
    color: rgba(0,0,0,0.1);
}
.Button{
    background-color: rgba(60,58,58);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

@media screen and (max-width: 850){
    .Living{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 600){
    .Living{
        grid-template-columns: 1fr;
    }
}