.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pagination button{
    width: 4rem;
    height:4rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: var(--dark);
    border-color: var(--light);
    
}

.pagination button.active {
    font-weight: 800;
    border-color: var(--dark);
    background: var(--warning);
    color: var(--dark);
}