
.navbar{
    height: 9.8rem;
    color: rgb(33, 37, 41);
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: left;
    text-size-adjust: 100%;
    width: 100%;
    z-index: 10;
    
  }
  .navbar .leftSide{
    width: 40%;
    max-width: 61rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.8rem;
  }
  .navbar .leftSide .leftContent{
    list-style: none;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
  }
  .navbar .leftSide .leftContent span{
  text-decoration: none;
  color: black;
 }
  .navbar .logo{
    max-width: 30rem;
    height: 100%;
    color: rgb(32,32,32);
    box-sizing: border-box;
  }

  .navbar .logo .insideLogo{
    margin: 3rem 5rem 1rem 5rem;
    max-width: 20rem;
    cursor: pointer;
    
}

.navbar .rightSide{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
    margin-bottom: 1.8rem;
    max-width: 61rem;
}

.navbar .rightSide .rightContent{
    list-style: none;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    padding-right: 2rem;
    
}
.navbar .rightSide .rightContent span{
  text-decoration: none;
  color: black;
 }
/* 
.navbar .rightSide .navButton{
    background-color: rgb(255, 255, 255);
  margin-left: 2rem;
  color: black;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  margin-right: 2rem;
}

.navbar .rightSide .navCart span{
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  color: black;
  border: none;
  padding: 1rem 2rem 1rem 0;
  cursor: pointer;
  margin-right: 2rem;

} */
.mobile-menu-icon{
  display: none;
}

@media screen and (max-width: 1300px){
  .logo{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;

  }
  .leftContent{
    display: none;
  }
  .rightContent{
    display: none;
  }
}
