.CategoriesContainer{
    display: flex;
    height: 50rem;
    gap: 1rem;
}
.CategoriesContainer >div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.CategoriesContainer > div:hover{
    flex: 4;
    background-color: cadetblue;
}