*{
  margin:0;
  padding:0;  
}

.footer{
  box-sizing: border-box;
  padding-top: 2rem;
  background-color: var(--cyan);
    width: 100%;
    padding: 1.7rem 0;
    font-size: 1.5rem;
    /* grid-template-columns: repeat(12, 1fr); */
    overflow: hidden;
    margin-top:1.2rem;
    
  }
  
  .footer .fListsContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin:0 2rem 2rem 2rem;
    list-style: none;
    padding: 0;
  }

  .footer .fListsContainer .fList{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
width: 40rem;


  }
  
  .footer .fListsContainer .fList .footerInfo {
    margin-bottom: 1rem;
    padding: 0 4rem;
    font-size: 1.8rem;
    font-style: normal;
    color: var(--dark);
    line-height: 1.8rem;
    display: flex;
    


  }
  .footer .fListsContainer .fList .fListItem{
    /* margin-top: 1rem; */
    padding: .5rem 4rem;
    font-size: 1.5rem;
    font-style: normal;
    color: var(--dark);
    line-height: 1.8rem;
    cursor: pointer;
    display: grid;
    text-decoration: none;
  }
  
  .footer .fText{
    margin-bottom: 1.5rem;
    padding: 0 4rem;
    font-size: 1.5rem;
    font-style: normal;
    color: var(--dark);
    line-height: 1.8rem;
    display: flex;
  }