@import '../../App.scss';

.footer {
    width: 100%;
    height: 70vh;
    background-color: $cream-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        padding: 3rem;
        color: $gray-color;

        span {
            margin-top: 2.2rem;
            display: block;
        }
    }
       
    }