.mail{
  margin-top: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 5rem;
  background-color: #5672f0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;

}

.mail__Title{
  font-size: 2rem;
  padding: 1rem;
}
.mail__InputContainer{
  width: 40%;
  height: 4rem;
  background-color: white;
  display: flex;

}

.mail__input{
  min-width: 80%;
  height: 4rem;
  padding: .5rem;
  border: none;
  border-radius: .1rem;
}

.mail__button{
  min-width: 20%;
  height: 4rem;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0;
  cursor: pointer;
}


