@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&display=swap');

$font-roboto : 'Roboto Mono', monospace;


$main-color : rgb(255, 255, 255);
$secondary-color : #000;
$orange-color : rgba(235, 97, 17, 0.952);
$gray-color: rgb(97, 93, 93);
$cream-color:rgb(252, 239, 221);
$orange-section:rgb(236, 95, 70);
$login-color:rgb(175, 140, 255);

@mixin button {
    cursor: pointer;
    padding: 1rem 2rem;
    background: transparent;
    color: $main-color;
    border: 1px solid $main-color;
}

@mixin hover {
     transform: scale(130%);
    transition: 1s ease-in-out;
    background: $main-color;
    color: $secondary-color;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}