.SliderContainer{
    margin-top: 4rem;
    box-sizing: border-box;

}
h2{
    display: inline-block;
    margin:0 .5rem 0 1rem ;
    font-weight: 500;

}

button{
    
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 1rem;
    color: var(--dark);
    background-color: transparent;
    cursor: pointer;
    
}
.Card{
    width: 40vw; 
    height: 60vh;
    padding: .5rem;
    background-color: var(--white);
}

img{
   max-width: 100%;
   max-height: 100%;
   box-sizing: border-box;
}